body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}
input,
textarea,
button {
  font-family: inherit;
}
button {
  padding: 0;
  cursor: pointer;
}

.container {
  max-width: 1158px;
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.team-container .container,
.portfolio-container .container,
.advantages-container .container,
.adves-container .container {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .team-container .container,
  .portfolio-container .container,
  .advantages-container .container {
    width: 768px;
  }
  .adves-container .container {
    width: 552px;
  }
}
@media screen and (min-width: 1158px) {
  .team-container .container,
  .portfolio-container .container,
  .advantages-container .container,
  .adves-container .container {
    width: 1158px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.team-container,
.portfolio-container,
.advantages-container {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .team-container,
  .portfolio-container,
  .advantages-container {
    padding: 120px 0;
  }
}

.header-container {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-list,
.address-container {
  display: none;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden-menu {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 72px 16px 40px 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger-menu {
  background-color: #fff;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.hidden-menu .burger-close-btn {
  background-color: #fff;
}

.burger-social-media-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo .logo-style {
  color: var(--navyblue, #2e2f42);
}
.burger-nav-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
}
.burger-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-list .current {
  color: #404bbf;
}
@media screen and (min-width: 768px) {
  .header-container .burger-menu,
  .header-container .hidden-menu {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .adves-logo-text .logo {
    margin-right: 0;
  }
  .header-container .menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .address-container {
    display: inline-block;
  }
  .header-container .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .nav-link {
    color: var(--navyblue, #2e2f42);
    font-weight: 500;
    line-height: 1.5;
    display: inline-block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  .address-container .address-link {
    color: var(--slate, #434455);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
  .address-container .address-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-container .address-link {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-container .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-container .address-link:hover,
  .address-container .address-link:focus {
    color: var(--ocean, #404bbf);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
  .nav-link:hover::after,
  .nav-link:focus::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}

.burger-address-container,
.address-container {
  font-style: normal;
}
.burger-address-container {
  display: block;
  margin-bottom: 48px;
}
.burger-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.burger-address-list .address-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.burger-address-list .tel-style {
  color: #4d5ae5;
}

.burger-nav-link:focus {
  color: #404bbf;
}
.burger-address-list .address-link:focus {
  color: #4d5ae5;
}

.order-container {
  background-color: var(--navyblue, #2e2f42);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}

.order-container {
  padding: 72px 0;
}
.order-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin: 0 auto;
  padding: 0 40px;
}

.border-button {
  background-color: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;
  margin: 72px auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .order-container {
    padding: 112px 0;
  }
  .order-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    padding: 0;
  }
  .border-button {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .order-container {
    padding: 188px 0;
  }
  .border-button {
    margin-top: 48px;
  }
  .border-button:hover,
  .border-button:focus {
    background-color: var(--ocean, #404bbf);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-item,
.team-item,
.portfolio-item {
  color: var(--navyblue, #2e2f42);
}

.advantages-item-title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.advantages-text {
  line-height: 1.5;
  color: #434455;
  font-weight: 500;
}
.advantages-item:not(:last-child),
.team-item:not(:last-child) {
  margin-bottom: 72px;
}
.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}
.team-item-title,
.portfolio-item-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-title,
.portfolio-cont-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-item-text,
.portfolio-item-text {
  line-height: 1.5;
  color: #434455;
}
.icon-box {
  display: none;
}
@media screen and (min-width: 1158px) {
  .advantages-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .advantages-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .advantages-text {
    font-weight: 400;
  }
  .advantages-item .icon {
    fill: #2e2f42;
  }
  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
  }
}
.team-container .container {
  padding-left: 28px;
  padding-right: 28px;
}

.team-item-title,
.team-item-text {
  text-align: center;
}
.team-container {
  background-color: var(--cloud, #f4f4fd);
}
.team-item {
  background: var(--white, #fff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title,
.portfolio-cont-title {
  margin-bottom: 72px;
}
.team-item-descr {
  padding: 32px 0;
}

.social-media-list {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  justify-content: center;
  margin-top: 8px;
}
.burger-social-media-list .social-media-link,
.social-media-list .social-media-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}
.icon-social {
  fill: #f4f4fd;
}
.portfolio-item-descr {
  padding: 32px 16px;
}

@media screen and (min-width: 768px) {
  .advantages-item-title {
    text-align: left;
  }
  .advantages-list,
  .team-list,
  .portfolio-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .portfolio-list,
  .advantages-list {
    row-gap: 72px;
  }
  .team-list {
    row-gap: 64px;
  }
  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .advantages-item:not(:last-child),
  .team-item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .advantages-list,
  .team-list,
  .portfolio-list {
    justify-content: space-between;
  }
  .advantages-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #f4f4fd;
  display: block;
  max-width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-pic {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  color: #f4f4fd;
  padding: 40px 32px;
  padding-right: 32px;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.adves-container {
  padding: 96px 0;
  background-color: var(--navyblue, #2e2f42);
}
.adves-text {
  color: var(--cloud, #f4f4fd);
  line-height: 1.5;
  width: 288px;
}

.adves-container .logo-style {
  color: var(--cloud, #f4f4fd);
}
.adves-container .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.adves-container .container {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.adves-logo-text {
  text-align: center;
}
.adves-text {
  text-align: left;
}

.social-media-footer .social-media-list {
  gap: 16px;
  margin-top: 0;
}
.social-media-footer .social-media-link:hover,
.social-media-footer .social-media-link:focus {
  background-color: #31d0aa;
}

.soc-md-text,
.subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-mail {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-right: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .adves-container .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 24px;
  }
  .adves-text {
    width: 264px;
  }
  .soc-md-text,
  .subscribe-text {
    text-align: left;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .form-mail {
    width: 264px;
    margin-bottom: 0;
  }
  .adves-logo-text {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .adves-container {
    padding: 100px 0;
  }
  .adves-container .container {
    justify-content: space-between;
    gap: 0;
    margin: 0 auto;
  }
  .adves-logo-text {
    margin-right: 120px;
  }
  .social-media-footer {
    margin-right: 80px;
  }
}
.form-mail::placeholder {
  color: #ffffff;
}
.subsc-butn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-subscribe {
  margin-left: 16px;
  fill: #ffffff;
}
.subsc-butn:hover,
.subsc-butn:focus {
  background-color: var(--ocean, #404bbf);
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  padding: 72px 16px 16px 24px;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .form-container {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}
.close-container {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  position: absolute;
  right: 24px;
  top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-container:hover,
.close-container:focus {
  background-color: #404bbf;
  border: none;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-container:hover .close-icon,
.close-container:focus .close-icon {
  fill: #ffffff;
}
.input-wrap {
  position: relative;
}
.person-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field {
  display: block;
  padding-left: 38px;
  padding-right: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field:focus {
  border-color: #4d5ae5;
  color: #4d5ae5;
}
.input-field:focus + .person-icon {
  fill: #4d5ae5;
}
.textarea-field {
  display: block;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea::placeholder,
.form-label,
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-label {
  display: flex; 
  align-items: center;
}

textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.textarea-field:focus {
  border-color: #4d5ae5;
}
.policy-link {
  font-size: 12px;
  line-height: 1.33;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}
.form-label {
  display: block;
  margin-bottom: 4px;
}
.form-button:hover,
.form-button:focus {
  background-color: var(--ocean, #404bbf);
}
.checkbox-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-field:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-field:focus + .checkbox-label .checkbox-custom {
  border: 1px solid #4d5ae5;
}
.form-item {
  margin-bottom: 8px;
}
.form-item-textarea {
  margin-bottom: 16px;
}
.checkbox-container {
  margin-bottom: 24px;
}
.form-button {
  background-color: var(--iris, #4d5ae5);
  cursor: pointer;
  color: var(--white, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 320px) {
  .order-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .order-container {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice-tablet.jpg);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .order-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .order-container {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice.jpg);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .order-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice-x2.jpg);
  }
}
